@CHARSET "ISO-8859-1";

html {
	overflow-y: scroll;
	position: relative;
	min-height: 100%;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
}

.rowlink tr:hover {
	cursor: pointer;
}

#contentPanel {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	padding: 10px;
}

.panel {
	margin-bottom: 50px;
	border-width: 2px;
}
/* GENERAL */
.btn-danger {
	cursor: default;
}

/* PROJECT */
.well.experiment {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.well.experiment .delete-button-sm {
	position: absolute;
	top: 10px;
	right: 10px;
}

.well.experiment .delete-button-xs {
	text-align: center;
}

.well.experiment .experimentLink {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* FOOTER */
.footer {
	position: absolute;
	bottom: 0px;
	background-color: #222;
	display: table;
	height: 50px;
	width: 100%;
}

.footer .container {
	line-height: 50px;
	text-align: center;
	color: #9d9d9d;
}

.footer .container a {
	color: #9d9d9d;
	text-decoration: none;
}

.footer .container a:hover {
	color: #FFF;
	text-decoration: none;
}