@CHARSET "ISO-8859-1";

html {
	overflow-y: scroll;
}

.rowlink tr:hover {
	cursor: pointer;
}

.well.experiment {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.well.experiment .delete-button-sm {
	position: absolute;
	top: 10px;
	right: 10px;
}

.well.experiment .delete-button-xs {
	text-align: center;
}

#contentPanel {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	padding: 10px;
}

.panel {
	margin-bottom: 50px;
	border-width: 2px;
}

.footer {
	background-color: #222;
	position: absolute;
	display: table;
	height: 50px;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.footer .middle {
	display: table-cell;
	vertical-align: middle;
}

.footer .container {
	line-height: 50px;
	text-align: center;
	color: #9d9d9d;
}