@CHARSET "ISO-8859-1";

html {
	overflow-y: scroll;
}

.rowlink tr:hover {
	cursor: pointer;
}

.well.experiment {
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
}

.well.experiment .delete-button-sm {
	position: absolute;
	top: 10px;
	right: 10px;
}

.well.experiment .delete-button-xs {
	text-align: center;
}

#contentPanel {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 800px;
	padding: 10px;
}

.panel {
	margin-bottom: 50px;
	border-width: 2px;
}